/* Projects Section */
.projects_section {
  min-height: calc(100vh - 89.8vh - 300px);
  padding: 2rem 0;
}

.project {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 3.5rem 0;
  padding-right: 0.3rem;
}

.project img {
  margin-left: 0.7rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.project img:hover {
  transform: scale(1.05);
}

.project_text {
  margin: 0.7rem 0.7rem;
}
